@model IEnumerable<Emprestimo>
@{
    ViewData["Title"] = "Listagem de Empréstimos";
}

<div class="row">
    <div class="col-md-12">
        <form class="form-inline" method="POST">
            <div class="form-group mb-2">
                <select name="TipoFiltro" class="form-control">
                    <option value="Usuario">Usuário</option>
                    <option value="Livro">Livro</option>
                </select>
            </div>
            <div class="form-group mb-2 mx-sm-3">
                <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        </form>
    </div>
</div>

<div class="row">
    @if (Model.Count() == 0)
    {
        <div class="row">
            <h3>Nenhum registro encontrado.</h3>
        </div>
    }
    else
    {
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Usuário</th>
                        <th>Data de Empréstimo</th>
                        <th>Data de Devolução</th>
                        <th>Livro</th>
                        <th>Autor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Emprestimo emprestimo in Model)
                    {
                        <tr>
                            <td>@emprestimo.Id</td>
                            <td>@emprestimo.NomeUsuario</td>
                            <td>@emprestimo.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                            <td>@emprestimo.DataDevolucao.ToString("dd/MM/yyyy")</td>

                            <td>@emprestimo.Livro.Titulo</td>
                            <td>@emprestimo.Livro.Autor</td>

                            <td><a href="/Emprestimo/Edicao/@emprestimo.Id">Editar</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

